BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Yn[7]" SITE "109" ;
LOCATE COMP "Yn[6]" SITE "110" ;
LOCATE COMP "Yn[5]" SITE "111" ;
LOCATE COMP "Yn[4]" SITE "112" ;
LOCATE COMP "An[7]" SITE "71" ;
LOCATE COMP "An[6]" SITE "69" ;
LOCATE COMP "An[5]" SITE "70" ;
LOCATE COMP "An[4]" SITE "68" ;
LOCATE COMP "An[3]" SITE "67" ;
LOCATE COMP "An[2]" SITE "62" ;
LOCATE COMP "An[1]" SITE "65" ;
LOCATE COMP "An[0]" SITE "61" ;
LOCATE COMP "Yn[3]" SITE "1" ;
LOCATE COMP "Yn[2]" SITE "2" ;
LOCATE COMP "Yn[1]" SITE "3" ;
LOCATE COMP "Yn[0]" SITE "4" ;
