BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[0]" SITE "H6" ;
LOCATE COMP "cdiv00[1]" SITE "M2" ;
LOCATE COMP "cdiv00[2]" SITE "L2" ;
LOCATE COMP "cdiv00[3]" SITE "L3" ;

LOCATE COMP "clk0" SITE "K13" ;

LOCATE COMP "portA0[0]" SITE "N3" ;
LOCATE COMP "portA0[1]" SITE "M1" ;
LOCATE COMP "portA0[2]" SITE "L1" ;
LOCATE COMP "portA0[3]" SITE "L5" ;
LOCATE COMP "portA0[4]" SITE "J1" ;
LOCATE COMP "portA0[5]" SITE "J2" ;
LOCATE COMP "portA0[6]" SITE "H3" ;
LOCATE COMP "portA0[7]" SITE "H1" ;

LOCATE COMP "outg0[0]" SITE "T12" ;
LOCATE COMP "outg0[1]" SITE "R11" ;
LOCATE COMP "outg0[2]" SITE "T11" ;
LOCATE COMP "outg0[3]" SITE "P11" ;
LOCATE COMP "outg0[4]" SITE "T10" ;
LOCATE COMP "outg0[5]" SITE "R9" ;
LOCATE COMP "outg0[6]" SITE "T9" ;
LOCATE COMP "outg0[7]" SITE "P9" ;

LOCATE COMP "codop0[0]" SITE "G2" ;
LOCATE COMP "codop0[1]" SITE "F2" ;
LOCATE COMP "codop0[2]" SITE "E2" ;
LOCATE COMP "codop0[3]" SITE "D2" ;
LOCATE COMP "codop0[4]" SITE "C1" ;

LOCATE COMP "enable0" SITE "H2" ;

LOCATE COMP "portB0[0]" SITE "G1" ;
LOCATE COMP "portB0[1]" SITE "F1" ;
LOCATE COMP "portB0[2]" SITE "E1" ;
LOCATE COMP "portB0[3]" SITE "D1" ;
LOCATE COMP "portB0[4]" SITE "C2" ;
LOCATE COMP "portB0[5]" SITE "G3" ;
LOCATE COMP "portB0[6]" SITE "D3" ;
LOCATE COMP "portB0[7]" SITE "F3" ;
