BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "salida[0]" SITE "109" ;
LOCATE COMP "salida[1]" SITE "110" ;

LOCATE COMP "a[0]" SITE "71" ;
LOCATE COMP "a[1]" SITE "69" ;
LOCATE COMP "b[0]" SITE "70" ;
LOCATE COMP "b[1]" SITE "68" ;
LOCATE COMP "c[0]" SITE "67" ;
LOCATE COMP "c[1]" SITE "62" ;
LOCATE COMP "d[0]" SITE "65" ;
LOCATE COMP "d[1]" SITE "61" ;

LOCATE COMP "sel[0]" SITE "60" ;
LOCATE COMP "sel[1]" SITE "58" ;
