BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Yo[7]" SITE "109" ;
LOCATE COMP "Yo[6]" SITE "110" ;
LOCATE COMP "Yo[5]" SITE "111" ;
LOCATE COMP "Yo[4]" SITE "112" ;
LOCATE COMP "Yo[3]" SITE "1" ;
LOCATE COMP "Yo[2]" SITE "2" ;
LOCATE COMP "Yo[1]" SITE "3" ;
LOCATE COMP "Yo[0]" SITE "4" ;

LOCATE COMP "Ao[7]" SITE "71" ;
LOCATE COMP "Ao[6]" SITE "69" ;
LOCATE COMP "Ao[5]" SITE "70" ;
LOCATE COMP "Ao[4]" SITE "68" ;
LOCATE COMP "Ao[3]" SITE "67" ;
LOCATE COMP "Ao[2]" SITE "62" ;
LOCATE COMP "Ao[1]" SITE "65" ;
LOCATE COMP "Ao[0]" SITE "61" ;

LOCATE COMP "Bo[7]" SITE "60" ;
LOCATE COMP "Bo[6]" SITE "58" ;
LOCATE COMP "Bo[5]" SITE "59" ;
LOCATE COMP "Bo[4]" SITE "57" ;
LOCATE COMP "Bo[3]" SITE "56" ;
LOCATE COMP "Bo[2]" SITE "54" ;
LOCATE COMP "Bo[1]" SITE "55" ;
LOCATE COMP "Bo[0]" SITE "52" ;

