BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outbcd0[0]" SITE "119" ;
LOCATE COMP "outbcd0[2]" SITE "121" ;
LOCATE COMP "outbcd0[3]" SITE "122" ;
LOCATE COMP "outbcd0[1]" SITE "120" ;
LOCATE COMP "outbcd0[4]" SITE "125" ;
LOCATE COMP "outbcd0[5]" SITE "126" ;
LOCATE COMP "outbcd0[6]" SITE "127" ;
LOCATE COMP "leds0[0]" SITE "109" ;
LOCATE COMP "leds0[1]" SITE "110" ;
LOCATE COMP "leds0[2]" SITE "111" ;
LOCATE COMP "leds0[3]" SITE "112" ;
LOCATE COMP "cdiv0[0]" SITE "71" ;
LOCATE COMP "cdiv0[1]" SITE "69" ;
LOCATE COMP "cdiv0[2]" SITE "70" ;
LOCATE COMP "cdiv0[3]" SITE "68" ;
LOCATE COMP "loadr0" SITE "60" ;
LOCATE COMP "clkr0" SITE "84" ;
LOCATE COMP "outdiv00" SITE "94" ;
LOCATE COMP "outtran0[3]" SITE "132" ;
LOCATE COMP "outtran0[2]" SITE "133" ;
LOCATE COMP "outtran0[1]" SITE "138" ;
LOCATE COMP "outtran0[0]" SITE "139" ;
