BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv00[0]" SITE "74" ;
LOCATE COMP "cdiv00[1]" SITE "73" ;
LOCATE COMP "cdiv00[2]" SITE "76" ;
LOCATE COMP "cdiv00[3]" SITE "75" ;

LOCATE COMP "clk0" SITE "117" ;

LOCATE COMP "reset0" SITE "81" ;
LOCATE COMP "wr0" SITE "82" ;

LOCATE COMP "outr0[0]" SITE "34" ;
LOCATE COMP "outr0[1]" SITE "35" ;
LOCATE COMP "outr0[2]" SITE "33" ;
LOCATE COMP "outr0[3]" SITE "32" ;

LOCATE COMP "inkey0[0]" SITE "25" ;
LOCATE COMP "inkey0[1]" SITE "26" ;
LOCATE COMP "inkey0[2]" SITE "23" ;
LOCATE COMP "inkey0[3]" SITE "24" ;

LOCATE COMP "offtran0[1]" SITE "138" ;
LOCATE COMP "offtran0[3]" SITE "132" ;
LOCATE COMP "offtran0[2]" SITE "133" ;
LOCATE COMP "offtran0[0]" SITE "139" ;

LOCATE COMP "outWordBuff0[0]" SITE "119" ;
LOCATE COMP "outWordBuff0[1]" SITE "120" ;
LOCATE COMP "outWordBuff0[2]" SITE "121" ;
LOCATE COMP "outWordBuff0[3]" SITE "122" ;
LOCATE COMP "outWordBuff0[4]" SITE "125" ;
LOCATE COMP "outWordBuff0[5]" SITE "126" ;
LOCATE COMP "outWordBuff0[6]" SITE "127" ;