#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1264R.
#

# Period Constraints 
#FREQUENCY NET "M01/U0/clk0" 2.1 MHz;
#FREQUENCY PORT "clkr0" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "M01/U0/clk0" TO CLKNET "clkr0_c";
#BLOCK PATH FROM CLKNET "clkr0_c" TO CLKNET "M01/U0/clk0";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
